@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
input,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

*:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
input:focus,
i:focus {
  outline: 0;
}

.body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

.body .contenedor-father {
  max-width: 350px;
  padding: 25px;
  margin: 25px auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.body .contenedor-father .contenedor-child-1 .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .contenedor-father .contenedor-child-2 {
  padding-top: 15px;
}

.body .contenedor-father .contenedor-child-2 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 639px) {
  .body .contenedor-father .contenedor-child-2 .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.body .contenedor-father .contenedor-child-2 .form .input {
  height: 40px;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #E0E0E0;
}

@media screen and (max-width: 639px) {
  .body .contenedor-father .contenedor-child-2 .form .input {
    width: 37%;
  }
}

.body .contenedor-father .contenedor-child-2 .form .input::-webkit-input-placeholder {
  color: #565656;
}

.body .contenedor-father .contenedor-child-2 .form .input:-ms-input-placeholder {
  color: #565656;
}

.body .contenedor-father .contenedor-child-2 .form .input::-ms-input-placeholder {
  color: #565656;
}

.body .contenedor-father .contenedor-child-2 .form .input::placeholder {
  color: #565656;
}

.body .contenedor-father .contenedor-child-2 .form .input-button-ordenar {
  cursor: pointer;
  padding: 7px;
  height: 40px;
  border-radius: 3px;
  background-color: #c50101;
  font-weight: bold;
  color: #fff;
}

.body .contenedor-father .contenedor-child-2 .form .input-button {
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  width: 12%;
  cursor: pointer;
}

@media screen and (max-width: 639px) {
  .body .contenedor-father .contenedor-child-2 .form .input-button {
    height: 36px;
  }
}

.body .contenedor-father .contenedor-child-3 {
  padding: 7px;
}

.body .contenedor-father .contenedor-child-3 li {
  padding: 12px;
  margin-top: 15px;
  background-color: #BA9AF9;
  color: #fff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.body .contenedor-father .contenedor-child-3 li .btnEliminar {
  cursor: pointer;
  font-size: 25px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */